body {
  background: #F6F6F6;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navCon {
  display: flex;
  align-items: center;

}

.logoCon {
  padding-left: 1em;
  padding-right: 1em;
}

.logo {
  width: 25px;
  height: auto;
}

.navSearch {
  margin-left: 2em;
  padding-left: 1.5em;
  font-size: 0.8rem;
  background: #E9E9E9;
  color: #5A5A5A;
  font-weight: 500;
  width: 250px;
}

.addParkButton {
  padding: 0.5em 1em;
  margin-right: 1.5em;
}

.charles {
  font-size: 0.8rem;
  padding-right: 0.5em;
}

.evansDrop {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

.dropMenu {
  margin-right: 3em;
  margin-top: 0;
  width: 180px;
  font-size: 0.8rem;
}

.navLogout {
  margin-top: 1em;
}